/*Created by Shelley Ophir
Coding Dojo Sep. 22, 2020
PacMan codealong with Michael Choi*/

*{
    /*removes default browser margins that would affect the pacman positioning*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.row{
    height: 20px;
}

.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}

.brick{
    background-color: blue;
}

.coin{
    background-image: url("img/coin.gif");
    background-position: center;
    background-repeat: no-repeat;
}

.cherry{
    background-image: url("img/cherry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#pacman{
    background-image: url("img/pacman.gif");
    background-repeat: no-repeat;
    background-size: contain;

    width: 20px;
    height: 20px;

    /*positioning*/
    top: 20px;
    left: 20px;
    position: absolute; /* this is frowned upon with webapps but with a game it's ok. This positions the pacman at the starting point*/

    /*facing direction. Starting direction is facing right (0 degrees)*/
    transform: rotate(0deg);
}

.blank{
    
}

#scoreboard{
    border: 2px solid red;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 3px;
    left: 350px;
    color: red;

    display: flex;
}

#score{
    font-size: 26px;
    color: red;

    align-self: flex-end;

}

#livesleft{
    border: 2px solid red;
    height: 50px;
    width: 70px;
    position: absolute;
    top: 60px;
    left: 350px;
    color: red;

    display: flex;
}

#lives{
    font-size: 26px;
    color: red;

    align-self: flex-end;

}

#info{
    color: white;
    font-size: 20px;
    padding: 15px;
    margin: 0 27px;
    
    display: inline-block;
}

h1{
    text-align: center;
}

img{
    height: 30px;
    vertical-align: middle;
}

#ghost{
    background-image: url('img/ghost.png');
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;

    /*positioning*/
    top: 20px;
    left: 280px;
    position: absolute; /* this is frowned upon with webapps but with a game it's ok. This positions the pacman at the starting point*/
    
    /*facing direction. Starting direction is facing right (0 degrees)*/
    transform: rotate(0deg);
}